.searchWrapper {
    .searchInput {
        height: 40px;
        padding: 10px 20px;
        box-sizing: border-box;
        border: 1px solid #ba8e47;
        background-color: #1c1c1c;
        margin-right: 10px;
        width: 75%;
        color: white;
    }
}
